In [1]:
data_path = '/content/drive/MyDrive/Colab Notebooks/Practice_data/'

#sqlite

In [2]:
import sqlite3

In [ ]:
conn = sqlite3.connect(data_path + 'school.db')
cursor = conn.cursor() #建立cursor物件
#建立一個資料表
sqlstr = '''CREATE TABLE IF NOT EXISTS scores \
  ("id"   INTEGER PRIMARY KEY NOT NULL,
  "name"   TEXT NOT NULL,
  "chinese"  INTEGER NOT NULL,
  "english"  INTEGER NOT NULL,
  "math"    INTEGER NOT NULL
  )'''
cursor.execute(sqlstr)

In [ ]:
#新增記錄
cursor.execute('insert into scores values(1, "葉大雄", 65, 62, 40)')
cursor.execute('insert into scores values(2, "沈靜香", 85, 98, 87)')
conn.commit() #更新
conn.close() #關閉資料庫連線

In [ ]:
conn = sqlite3.connect(data_path + 'school.db')
datas=[[3, "Karen", 98, 99, 100],
    [4, 'John', 85, 86, 87]]
for data in datas:
  conn.execute("insert into scores (id, name, chinese, english, math) values \
    ({}, '{}', {}, {}, {})".format(data[0], data[1], data[2], data[3], data[4]))
conn.commit() #更新
conn.close() #關閉資料庫連線

In [ ]:
#更新資料
conn = sqlite3.connect(data_path + 'school.db')
conn.execute("UPDATE scores SET name='{}' WHERE id={}".format('林胖虎', 1))
conn.commit() #更新
conn.close() #關閉資料庫連線

In [ ]:
conn = sqlite3.connect(data_path + 'school.db')
conn.execute("UPDATE scores SET english={} WHERE id={}".format(90, 3))
conn.commit() #更新
conn.close() #關閉資料庫連線

In [ ]:
#刪除資料
conn = sqlite3.connect(data_path + 'school.db')
conn.execute("DELETE FROM scores WHERE chinese={}".format(65))
conn.commit() #更新
conn.close() #關閉資料庫連線

In [ ]:
#刪除資料
conn = sqlite3.connect(data_path + 'school.db')
conn.execute("DELETE FROM scores WHERE name='{}'".format('沈靜香'))
conn.commit() #更新
conn.close() #關閉資料庫連線

In [ ]:
#查詢資料
conn = sqlite3.connect(data_path + 'school.db')
cursor = conn.execute('select * from scores')
rows = cursor.fetchall()
print(rows) #顯示原始資料
#逐筆顯示資料
for row in rows:
  print(row[0], row[1])
conn.close() #關閉資料庫連線

[(3, 'Karen', 98, 90, 100), (4, 'John', 85, 86, 87)]
3 Karen
4 John

In [ ]:
#查詢資料
conn = sqlite3.connect(data_path + 'school.db')
cursor = conn.execute('select * from scores')
row = cursor.fetchone()
print(row) #顯示原始資料

(3, 'Karen', 98, 90, 100)

#mysql

In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 2.7 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
import pymysql

In [ ]:
#建立資料表
conn = pymysql.connect(host='localhost', port=3306, user='root', passwd='1234',
  charset='utf8', db='pythondb01') #連結資料庫
with conn.cursor() as cursor:
  sq1 = '''
    CREATE TABLE IF NOT EXISTS Scores(
    ID int NOT NULL AUTO_INCREMENT PRIMARY KEY,
    Name varchar(20),
    Chinese int(3),
    English int(3),
    Math int(3)
    );'''
  cursor.execute(sq1)
  conn.commit() #更新
conn.close() #關閉資料庫連線

In [ ]:
#新增資料
conn = pymysql.connect(host='localhost', port=3306, user='root', passwd='1234',
  charset='utf8', db='pythondb01') #連結資料庫
with conn.cursor() as cursor:
  sq1 = '''
  insert into scores (Name, Chinese, English, Math) values
  ('葉大雄', 65, 62, 40),
  ('沈靜香', 85, 98, 87),
  '''
  cursor.execute(sq1)
  conn.commit() #更新
conn.close() #關閉資料庫連線

In [ ]:
#查詢所有資料
conn = pymysql.connect(host='localhost', port=3306, user='root', passwd='1234',
  charset='utf8', db='pythondb01') #連結資料庫
with conn.cursor() as cursor:
  sql = "select * from scores"
  cursor.execute(sq1)
  datas = cursor.fetchall() #所有資料
  print(datas)
conn.close() #關閉資料庫連線

In [ ]:
#查詢特定資料
conn = pymysql.connect(host='localhost', port=3306, user='root', passwd='1234',
  charset='utf8', db='pythondb01') #連結資料庫
with conn.cursor() as cursor:
  sql = "update scores set Chinese = 98 where ID = 3"
  cursor.execute(sq1)
  conn.commit()
  sql = "select from scores where ID = 3"
  cursor.execute(sq1)
  datas = cursor.fetchall() #所有資料
  print(datas)
conn.close() #關閉資料庫連線

In [ ]:
#刪除資料
conn = pymysql.connect(host='localhost', port=3306, user='root', passwd='1234',
  charset='utf8', db='pythondb01') #連結資料庫
with conn.cursor() as cursor:
  sql = "delete from scores where ID = 3"
  cursor.execute(sq1)
  conn.commit()
  sql = "select from scores where ID = 3"
  cursor.execute(sq1)
  datas = cursor.fetchall() #所有資料
  print(datas)
conn.close() #關閉資料庫連線